@font-face {
  font-family: manrope;
  src: url(./assets/fonts/manrope/Manrope-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: manrope;
  src: url(./assets/fonts/manrope/Manrope-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: manrope;
  src: url(./assets/fonts/manrope/Manrope-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: manrope;
  src: url(./assets/fonts/manrope/Manrope-Regular.ttf);
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* components  */
@layer components {

  /* scrolls */
  .scroll_default::-webkit-scrollbar {
    @apply w-2 bg-white/0 rounded-full max-650:w-1;
  }

  .scroll_default::-webkit-scrollbar-thumb {
    @apply bg-primary-green/50 rounded-full hover:bg-primary-green/70;
  }

  /* loaders */
  @keyframes main-loader {

    100%,
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
      filter: drop-shadow(0px 0px 18px rgba(7, 174, 110, 0.7));
    }
  }

  .main-loader_img {
    @apply w-12 h-12 max-768:w-9 max-768:h-9;
    animation: main-loader 2s ease;
    animation-delay: 2.5s;
  }

  /* cart */
  .card-header {
    background-image: url(./assets/images/card-bg.png);
    background-position-y: -30px ;
    @apply bg-cover bg-no-repeat w-full h-40 flex justify-center items-center;
  }

  /* font */
  /* font bold */
  .text-bold-44 {
    @apply text-44 leading-56 font-bold;
  }

  .text-bold-38 {
    @apply font-bold text-38 leading-48 max-800:text-34 max-800:leading-42 max-650:text-3xl max-650:leading-9;
  }


  .text-bold-20 {
    @apply text-xl leading-7 font-bold;
  }

  .text-bold-24 {
    @apply text-2xl font-bold max-768:text-bold-20 max-400:text-regular-18 max-400:font-bold;
  }

  /* font semibold */
  .text-semibold-20 {
    @apply text-xl leading-7 font-semibold;
  }

  /* font medium */
  .text-medium-20 {
    @apply text-xl leading-7 font-medium;
  }

  /* font regular */
  .text-regular-20 {
    @apply text-xl leading-7 font-normal;
  }

  .text-regular-18 {
    @apply text-lg font-normal leading-22;
  }

  .text-regular-16 {
    @apply text-base font-normal leading-5;
  }



  /* flex & grid */
  .flex-center {
    @apply flex items-center;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-end {
    @apply flex items-end;
  }

  .flex-end-between {
    @apply flex items-end justify-end;
  }





  /* buttons */
  .btn-default {
    @apply flex-center justify-center bg-primary-green bg-opacity-12 py-3 px-5 text-primary-green text-regular-18 rounded-xl;
  }

  .btn-square {
    @apply flex-center justify-center;
    border-radius: 10px;
  }

  .btn-round {
    @apply flex-center gap-1.5 rounded-full px-7;
  }

  .btn-normal {
    @apply bg-transparent rounded-none inline-block text-white border-0 p-0;
  }

  .btn-white {
    @apply fixed flex-center justify-center w-12 h-12 rounded-full bg-white bottom-8 right-8 text-primary-green hover:text-primary-white hover:bg-primary-green shadow max-650:right-5 max-650:bottom-5 z-10;
    transition: transform 0.3s ease, background-color 0.2s ease, fill 0.2s ease, opacity 0.2s ease, color 0.2s ease;
  }





  /* accounts */
  .accounts-grid {
    @apply grid grid-cols-5 gap-5 max-1350:grid-cols-4 max-1100:grid-cols-3 max-800:grid-cols-2 max-650:gap-3.5 max-500:grid-cols-1 max-500:gap-y-6;
  }

  .account-card {
    @apply relative;
  }

  .account-card_img {
    @apply w-full max-h-300 object-cover object-center rounded-18;
    aspect-ratio: 152/105;
  }

  .account-card_like-btn {
    @apply absolute p-1 rounded-md bg-primary-black/50 top-4 right-4 backdrop-filter backdrop-blur-[2px];
  }

  .account-card_content {
    @apply px-1.5 space-y-3 mt-3;
  }

  .account-card_title {
    @apply text-medium-20 line-clamp-2;
  }

  .account-card_mid-contents {
    @apply flex-end;
  }

  .account-card_mid-contents_item {
    @apply text-regular-16;
  }

  .account-card_mid-contents_line {
    @apply w-full border-t border-white border-dashed h-1 mx-0.5;
  }

  .account-card_price {
    @apply text-medium-20 text-primary-green;
  }

  .account-card_btn {
    @apply btn-default btn-square w-full;
  }






  /* home */
  /* header */
  .header nav ul li a {
    @apply relative;
  }

  .header nav ul li .active::before {
    top: -34px;
  }

  .header nav ul li a::before {
    @apply absolute block w-full h-0.5 bg-primary-green -top-10;
    content: "";
    transition: top 0.3s ease-in-out;
  }

  .hamburger-btn {
    @apply hidden btn-square p-2 border-2 border-white border-opacity-0 focus:border-opacity-50 focus:outline-0 max-950:block;
  }

  .hamburger-btn_items-wrapper {
    @apply flex-center flex-col justify-center relative w-7 h-7 max-650:w-6 max-650:h-6;
    transition: transform 0.2s linear;
  }

  .hamburger-btn_item {
    @apply inline-block absolute w-full h-0.5 bg-primary-green;
    transition: transform 0.2s linear;
  }

  .hamburger-btn_item:nth-child(1) {
    transform: translateY(8px);
  }

  .hamburger-btn_item:nth-child(3) {
    transform: translateY(-8px);
  }

  /* active hamburger button */
  .hamburger-btn-active .hamburger-btn_items-wrapper {
    transform: rotate(45deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(1) {
    transform: translateY(0) rotate(180deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(2) {
    transform: rotate(90deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(3) {
    transform: translateY(0) rotate(90deg);
  }


  /* search */
  .search_filter-btns-wrapper {
    @apply flex gap-4 pt-9 pb-4 mb-9 overflow-x-auto px-0.5 max-768:pt-7 max-768:mb-7 max-550:mb-5 max-550:pt-5;
    scroll-behavior: smooth;
  }

  .search_filter-btn {
    @apply min-w-max text-white bg-white/10 focus:outline-primary-white/70;
  }

  .search_filter-btns-wrapper::-webkit-scrollbar {
    @apply bg-primary-white h-0.5;
  }

  .search_filter-btns-wrapper::-webkit-scrollbar-thumb {
    @apply bg-primary-green;
  }

  .search_results {
    @apply grid grid-cols-2 gap-5;
  }



  /* sections */
  .section {
    @apply py-12 space-y-9 max-550:space-y-8;
  }

  .section-content {
    @apply space-y-9 max-550:space-y-8;
  }

  .section-header {
    @apply flex-center-between max-550:justify-normal;
  }

  .section-header_title {
    @apply text-bold-38;
  }

  .section-header_link {
    @apply btn-round btn-default text-medium-20 max-550:hidden;
  }

  .section-footer_link {
    @apply hidden btn-round btn-default bg-transparent border border-primary-green w-full text-medium-20 max-550:flex;
  }





  /* hero */
  .hero-main-swiper {
    @apply w-full h-auto rounded-18 max-1350:rounded-xl max-768:rounded-lg max-550:rounded-md;
  }

  .hero-ads {
    @apply w-full h-full rounded-18 bg-primary-green/10 p-2.5 border-2 border-primary-green/70 max-1350:rounded-xl max-768:rounded-lg max-550:rounded-md max-470:p-2;
  }

  .hero-ads_swiper {
    @apply w-full h-full rounded-lg max-1350:rounded-md max-768:rounded max-550:rounded-sm;
  }

  .hero-ads_swiper img {
    @apply h-full rounded-lg max-1350:rounded-md max-768:rounded max-550:rounded-sm;
  }



  /* footer */
  .d {
    border-top: 1px solid #07ae6e;
  }

  .s {
    background: rgb(7 174 110 / 0.1);
  }

  .footer_social-networks {
    @apply flex gap-3;
  }

  .footer_social-networks_item-link {
    @apply flex-center justify-center rounded-full w-12 h-12 focus:outline-primary-white/70 hover:opacity-60 transition-opacity;
  }

  .footer_social-networks_item-link-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  }

  .footer_social-networks_item-link-telegram {
    background: #3AAEE0;
  }

  .footer_social-networks_item-link-tiktok {
    background: #080808;
  }

  .footer_social-networks_item-link-youtube {
    background: #FF0808;
  }

  .footer_social-networks_item-link svg {
    @apply text-primary-white;
  }







  /* account detail */
  .bg_linear-gradient-black {
    background: linear-gradient(#00000000, #040D12 50%);
  }
}








/* base */
@layer base {
  *:focus {
    @apply outline-2 outline outline-primary-green/70 outline-offset-0;
  }

  html {
    scroll-behavior: smooth;
  }


  body {
    @apply bg-primary-black text-primary-white text-regular-18 scroll_default;
    font-family: 'manrope', sans-serif;
  }


  button {
    @apply btn-default;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-white;
  }

  h2 {
    @apply text-bold-44;
  }

  h3 {
    @apply text-semibold-20;
  }
}







/* utilites */
@layer utilities {
  .container {
    @apply max-w-1640 w-full mx-auto px-5;
  }

  .transition-colors {
    transition-duration: 0.25s;
    transition-timing-function: linear;
  }

  .transition-transform {
    transition-duration: 0.25s;
    transition-timing-function: linear;
  }

  .py-12 {
    @apply pt-12 pb-12 max-768:py-10;
  }
}

@media only screen and (max-width: 550px) {
  .py-12 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
}